
<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":3},{"col":3,"row":1,"size_x":2,"size_y":3}]')
});
</script>


<% content_for :title do %>1080p dashboard<% end %>
<div class="gridster">
  <ul>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="3">
      <div data-id="all" data-view="List" data-unordered="False" data-title="All Active and Inactive Nodes"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="3">
      <div data-id="inactive" data-view="List" data-unordered="False" data-title="Only Inactive Nodes"></div>
    </li>
    


  </ul>
</div>